
.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    z-index: 1;
    background-color: rgb(10, 133, 86);
    color: ivory;
    padding: 20px;
    position: absolute;
}
.subheader {
    float: right;
    padding: 20px;
    position: sticky
}
.mainbody {
    top: 115px;
    bottom: 100px;
    left: 5px;
    right: 5px;
    position: relative;
    padding-bottom: 100px;
}

.topleft {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 50%;
    height: auto;
    border: 1px black solid;
}

.topright {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 50%;
    height: auto;
    border: 1px black solid;
}
.bottomleft {
    position: relative;
    max-width: 50%;
    border: 1px black solid;
}

.bottomright {
    position: relative;
    max-width: 50%;
    border: 1px black solid;
}
.footer {
    background-color: rgb(10, 133, 86);
    bottom: 0px;
    height: 50px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    color: ivory;
    text-align: center;
    position: fixed;
}

a {
    color: ivory;
    text-decoration: none;
}
a:hover {text-decoration: underline;}
